body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

.rent-button {
    background-color: #4CAF50; /* 대여 버튼은 초록색 */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.rent-button:hover {
    background-color: #45a049;
}

.return-button {
    background-color: #f44336; /* 반납 버튼은 빨간색 */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.return-button:hover {
    background-color: #da190b;
}